.about-section {
    color: #333;
    width: 90%;
    margin: auto;
    line-height: 1.7;
}

.blue-name {
	color: #39739A;
}

.projects-title { 
	text-align: center;
}

.col-lg-4.col-sm-4 {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

